.step {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  align-items: space-between;
  margin: 0 auto;
  margin-bottom: 20px;
}

.step-header {
  text-align: left;
  width: 100%;
}

.step-left {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.step-right {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.step-right h3 {
  text-align: left;
}

.step-body {
  display: flex;
  flex-direction: row;
}

.step-banner {
  width: 1100px;
  height: auto;
  align-self: center;
}

@media screen and (max-width: 1042px) {
  .step {
    margin-bottom: 20px;
  }
  .step-body {
    flex-direction: column;
  }

  .step-right {
    margin-left: 0;
  }

  .step-left {
    margin-bottom: 40px;
  }

  .step-banner {
    width: 100%;
  }
}
