.submit-button {
  height: 40px;
  width: 150px;
  background-color: #0dbc3d;
  border: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Lato';
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:disabled {
  background-color: #86dd9e;
  color: #dcdcdc;
  cursor: default;
}
